body {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  height: 100%;
}

img {
  width: 98.69vw;
  height: 98.7vh;
  animation: fadein;
  animation-duration: 0.3s;
}

@keyframes fadein {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.image {
  border: 0px;
  margin: 0px;
}

.image::after {
  content: "";
  display: block;
  margin: 0px;
  height: 5px;
  width: 100%;
  background-color: #6073b1cc;
  transform: scaleX(0);
  transform-origin: left;
  animation: expandLine 6s ease-in-out infinite;
}

@keyframes expandLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.text {
  display: inline-block;
  position: absolute;
  top: 5vh;
  padding: 10px;
  margin-left: 50px;
  width: 60vh;
  height: max-content;
  word-wrap: break-word;
  overflow: hidden;
  background-color: rgba(151, 140, 140, 0.363);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(7, 5, 5, 0.527);
}

.hide {
  visibility: hidden;
  display: none;
}

.icons {
  background-color: rgba(222, 222, 222, 0.132);
  backdrop-filter: blur();
  width: 40px;
  height: 80px;
  position: absolute;
  top: 50%;
  opacity: 0.4;
  /* float: right; */
}
.icons:hover {
  opacity: 0.8;
}

.mini_img {
  height: 100px;
  width: 100px;
  margin-left: 10px;
  border-radius: 10px;
  opacity: 0.8;
}
.parent:hover img:not(:hover) {
  opacity: 0.3;
}

.parent {
  display: inline-flex;
  flex-direction: row;
  width: 350px;
  height: fit-content;
  border-radius: 9px;
  overflow-x: hidden;
}
.mini_main {
  position: absolute;
  background-color: #ffffff47;
  border-radius: 20px;
  padding: 5px;
  top: 60vh;
  left: 60vw;
}

.iconsmini {
  background-color: rgba(222, 222, 222, 0.132);
  backdrop-filter: blur();
  width: 40px;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
  opacity: 0.6;
}
.iconsmini:hover {
  opacity: 1;
}
